@import 'tailwindcss';
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* DOT DEFAULT */
.swiper-pagination-bullet {
    width: 18px;          /* panjang sedikit */
    height: 4px;
    border-radius: 9999px;
    background-color: #e5e7eb; /* abu soft */
    opacity: 1;
    transition: all 0.3s ease;
    margin: 0 4px !important;
}

/* DOT AKTIF */
.swiper-pagination-bullet-active {
    width: 30px;          /* lebih panjang */
    background-color: #DDA853; /* warna emas */
}
